# udevadm control --reload-rules && udevadm trigger
# udevadm info -a -n /dev/ttyUSB

# TODO: Figure out serial numbers.
ACTION=="add", ATTRS{idProduct}=="7523", ATTRS{idVendor}=="1a86", SYMLINK+="grbl"
ACTION=="add", ATTRS{idProduct}=="7523", ATTRS{idVendor}=="1a86", SYMLINK+="grbl_3018"
ACTION=="add", ATTRS{idProduct}=="7523", ATTRS{idVendor}=="1a86", SYMLINK+="cnc_3018"
