## Python Requirements

pytest
numpy
jupyter
notebook
pyserial

-e python_grbl/
-e python_gcode/
pytest-html

black
autopep8
isort
## Host Requirements
#16.04 18.04: python3
#16.04 18.04: python3-venv
#16.04 18.04: avrdude
