## Python Requirements
pytest
numpy
jupyter
notebook
pyserial
matplotlib

-e python_GCode/
-e python_GRBL/

git+https://github.com/jed-frey/get_files.git#egg=get_files
git+https://github.com/jed-frey/jupyter_NotebookCleaners.git#egg=notebookcleaner

## Host Requirements
#16.04 18.04: python3
#16.04 18.04: python3-venv
#16.04 18.04: avrdude
